---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Card from '../Card.astro';
import "../../styles/global.css";

const content={
    title:"Explorative",
    first:"I'm an <b>explorative person</b>, and for someone who always thinks before acting, that might seem like a surprising combination. But to me, exploration isn't about being impulsive—it’s about intentionally stepping into new territories with curiosity and purpose.",
    second:"I <b>love</b> learning something new. Entering a new field feels like opening a door to a whole new world, filled with possibilities, excitement, and meaningful discoveries. That feeling brings me joy and motivation. In Computer Science, I’ve explored a wide range of areas instead of sticking to just one. These include:",
    third:[
        "Game Development",
        "Data Science and Artificial Intelligence",
        "Software Engineering",
        "Competitive Programming",
        "Computer Architecture <b>(newly explored)</b>"
    ],
    forth:"To me, exploration doesn’t always mean diving into a completely new field or areas. Even discovering a fresh perspective from others within a familiar topic is enough to spark that same sense of wonder. That's why i also love hear other perspectives"

};

---

<div class="grid [grid-template-columns:1.7fr_1fr] grid-rows-2 m-10 gap-4">
    <span class="row-span-2">
        <Card w="w-full" h="h-full" warna="bg-fourth-light" >
            <h1 class="font-itim text-5xl">{content.title}</h1>
            <p set:html={content.first} class="font-lusituna pt-10"></p>
            <p set:html={content.second} class="font-lusituna py-5"></p>
            <ul class="list-disc pl-5 font-lusituna">
                {content.third.map(item => (
                    <li set:html={item}></li>
                ))}
            </ul>
            <p set:html={content.forth} class="font-lusituna py-5"></p>
        </Card>
    </span>
    <span class="col-span-1">
        <Card w="w-full" h="h-full" warna="bg-fourth-light" />
    </span>
    <span class="col-span-1">
        <Card w="w-full" h="h-full" warna="bg-fourth-light" />
    </span>
</div>